ul, li { list-style-type: none; }

.guidance{
    width: 100%;
}
.gui_iocn{
    width: 90%;
    height: 1.45rem;
    margin: .4rem auto 0;
    overflow: hidden;
}
#treeView {
  width: 90%;
  margin: .4rem auto 0;
}
#treeView>ul>li{
    border: 1px solid #ccc;
    border-width: 1px 1px 0;
    background: #fff;
}
#treeView>ul>li~li{
    margin-top: .6rem;
}
.treeNode {
  height: .8rem;
  line-height: .8rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 0;
  position: relative;
}
.treeNode-cur{
  background: #01BBF4 !important;
  border-color: #01BBF4  !important;
}
.treeNode-cur>.title{
    color: #fff;
}
.tblock{
    display: block;
}
.tnone{
    display: none;
}
.hone{
    background: #DCE7F5;
    font-weight: bold;
    font-size: .28rem;
}
.sanj{
    width: .6rem;
    height: .6rem;
    background: url('../img/j_01.png') no-repeat;
    background-size: 100%;
    position: absolute;
    left: -.25rem;
    top:-.25rem;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: .2rem;
  top: 50%;
  margin-top:-.15rem;
}
.icon-minus {
  background: url('../img/min.png') no-repeat;
  width: .3rem;
  height: .3rem;
  /*margin: 0 .08rem;*/
  background-size:100%;
}
.icon-add {
  background: url('../img/add.png') no-repeat;
  width: .3rem;
  height: .3rem;
  /*margin: 0 .08rem;*/
  background-size:100%;
}
.icon-file {
  width: .44rem;
  height: .36rem;
  margin-right: .1rem;
  background-position: 0 -.44rem;
}
.title {
  position: relative;
  /*top: .12rem;*/
  font-size: .24rem;
  margin-left: .2rem;
}

.treeNode-empty .icon-minus {
  background-position: -19.98rem -19.98rem;
}
.treeNode-empty .icon-add {
  background-position: -19.98rem -19.98rem;
}

#treeView ul.none {
  display: none;
}
